.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.image-slider {
    background: #2e2e2e;
    min-height: 470px;
}

.image-container {
    background: #2e2e2e;
    min-height: 470px;
}

i.fa-plus {
    position: absolute;
    right: 10px;
    top: 15px;
    border: solid 1px #ffffff;
    padding: 10px;
}

.small-image {
    background: #2e2e2e;
    min-height: 460px;
    max-width: 470px;
}

.double-image {
    margin-top: 10px;
}

.breakout-area {
    min-height: 540px;
    background: #ffffff;
}

.project-image {
    background: #2e2e2e;
    min-height: 150px;
}

