<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container image-slider">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img alt="slide.alt" ng-src="{{slide.image}}">
      </slide>
    </carousel>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
      <h1 class="main-title">PROJECT NAME</h1>
      <p class="sub-title">SERVICE OFFERING <em>for</em> CLIENT NAME</p>
      <h3 class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta. Fusce vel ultricies purus. In consectetur nibh odio, mattis varius purus faucibus in.</h3>
      <button value="visit" aria-label="Visit Site">VISIT SITE</button>
    </div>
  </div>
</div>
<div class="container image-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div data-ng-click="openModal()">
        <img ng-src="assets/images/large-image.png" alt="Large Image">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-offset-2 col-lg-8 text-center blurb">
      <h3>BLURB</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta.</p>
    </div>
  </div>
</div>
<div class="container image-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div data-ng-click="openModal()">
        <img ng-src="assets/images/large-image.png" alt="Large Image">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<div class="container double-image">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 no-padding">
      <div class="small-image image-left">
        <div data-ng-click="openModal()">
          <img ng-src="assets/images/small-image.png" alt="Small Image">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 no-padding-right secondary-image">
      <div class="small-image image-right">
        <div data-ng-click="openModal()">
          <img ng-src="assets/images/small-image.png" alt="Small Image">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breakout-area">
  <h2>BREAKOUT AREA</h2>
  <div class="separator hidden-xs"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta.</p>
  <div class="grey-container hidden-lg-down"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
      <div class="secondary-title more-layouts">MORE LAYOUTS</div>
    </div>
  </div>
</div>
<div class="container image-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div data-ng-click="openModal()">
        <img ng-src="assets/images/large-image.png" alt="Large Image">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-offset-2 col-lg-8 text-center blurb">
      <h3>BLURB</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 text-right">
      <div class="image-caption">
        <h4>IMAGE CAPTION</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 col-lg-10 image-container">
      <div data-ng-click="openModal()">
        <img ng-src="assets/images/large-image.png" alt="Large Image">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<div class="container double-image-container">
  <div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 text-right">
      <div class="image-caption">
        <h4>IMAGE CAPTION</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="image-caption">
        <h4>IMAGE CAPTION</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-5 no-padding">
      <div class="small-image image-left">
        <div data-ng-click="openModal()">
          <img ng-src="assets/images/small-image.png" alt="Small Image">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-5 no-padding-right secondary-image">
      <div class="small-image image-right">
        <div data-ng-click="openModal()">
          <img ng-src="assets/images/small-image.png" alt="Small Image">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="more-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>MORE PROJECTS</h2>
        <div class="caption">Lorem ipsum dolor sit amet</div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="project in projects">
          <div class="project-image"></div>
          <h4>{{project.name}}</h4>
          <p>{{project.info}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <div class="footer-border"></div>
      <p>(C) DELOITTE DIGITAL 2015</p>
  </div>
</footer>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <i ng-click="$close('close')" class="fa fa-times"></i>
        <h2>MODAL</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta. Fusce vel ultricies purus. In consectetur nibh odio, mattis varius purus faucibus in.  Ut a dolor convallis, scelerisque leo eu, tincidunt eros. Vestibulum quis ullamcorper augue. Cras vitae mattis libero, et cursus neque. Sed tincidunt fermentum vehicula.
        </p>
    </div>
</script>